* {
  box-sizing: border-box;
}

h1 {
  color: red;
  text-align: center;
}

.wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

td {
  width: 25px;
  height: 25px;
  text-align: center;
  border: 1px solid black;
}

.miss {
  background-color: rgb(78, 208, 119);
}

.hit {
  background-color: red;
}

.special {
  background-color: yellow;
}

.empty {
  background-color: white;
}

td:hover {
  background-color: purple;
}

.ship {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.ship-cell {
  width: 25px;
  height: 25px;
  background-color: rgb(78, 83, 208);
  border: 1px solid black;
  margin-bottom: 4px;
}

.game-over-message {
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
}

.ship-container {
  display: flex;
}
.vertical {
  transform: rotate(90deg);
}
